.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.5em 9%;
  background: var(--second-bg-color);
}
.footer-text p {
  font-size: 1.6rem;
  letter-spacing: 1px;
}
.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  border-radius: 0.8rem;
  background: var(--main-color);
  transition: 0.5s ease;
}
.footer-iconTop a:hover {
  box-shadow: 0 0 1rem var(--main-color);
}
